.error, .message {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.error {
    color: #000000;
    background-color: #ff4431;
}

.message {
    font-weight: bold;
    color: #000000;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}

.img {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -350px;
    margin-left: -750px;
    -webkit-transform: scale(0.91, 0.3);
}

#showPass{
    position: absolute;
    margin-top: -68px;
    margin-left: -65px;
    -webkit-transform: scale(0.2, 0.25);
}

#showPassAdmin{
    position: absolute;
    margin-top: -25px;
    margin-left: 365px;
    -webkit-transform: scale(0.8, 0.8);
}

