.normal {
    color: green;
}

.error, .message {
    padding: 10px;
    font-size: 20px;
}

.error {
    text-align: center;
    color: #000000;
    background-color: #ff4431;
}

.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}